/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite {
	background-image: url('./img/sprite.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		background-image: url('./img/sprite@2x.png');
		background-size: 37px 125px;
	}
}

.sprite-check {
	width: 24px;
	height: 24px;
	background-position: 0 0;
}

.sprite-clock {
	width: 18px;
	height: 18px;
	background-position: 0 -24px;
}

.sprite-place {
	width: 18px;
	height: 24px;
	background-position: 0 -42px;
}

.sprite-quote{
	width: 16px;
	height: 14px;
	background-position: 0 -66px;
}

.sprite-quoten	{
	width: 16px;
	height: 14px;
	background-position: 0 -80px;
}

.sprite-reciver {
	width: 37px;
	height: 31px;
	background-position: 0 -94px;
}