.contacts{
    background: $bg-violet;
    text-align: center;
    &__form{
        position: relative;
        padding: 45px 0;
        background: #882fbf;
        border-radius: 10px;
    }
    &__caption{
        color: #f1f1f1;
        font-weight: 300;
    }
    &__subcaption{
        padding-top: 8px !important;
        color: #f1f1f1;
        font-weight: 300;
    }
    .wpcf7{
        max-width: 555px;
        margin: 30px auto 0 auto;
    }
    .wpcf7-form-control-wrap{
        display: block;
        width: 100%;
        margin: 0 0 18px 0;
    }
    &__input{
        width: 100%;
        height: 53px;
        border-radius: 30px;
        text-indent: 30px;
    }
    &__text{
        width: 100%;
        border-radius: 30px;
        padding: 15px;
        min-height: 53px;
    }
    &__submit{
        @extend .btn;
        width: 100%;
        margin-top: 27px;
        padding: 18px 35px !important;
        border: 0;
        cursor: pointer;
    }
    .wpcf7-response-output{
        color: #fff;
    }
    &__sub{
        color: #877e8c;
        font-weight: 300;
    }
    &__tel{
        display: inline-block;
        margin: 0;
        padding: 0 0 12px;
        text-decoration: none;
        color: inherit;
    }
    &__btn{
        margin-top: 12px;
        padding: 20px 35px !important;
    }
}