.footer{
	box-sizing: border-box;
	padding: 25px 0 0 0;
	background: #f6f2fa;
    span{
        margin-bottom: 10px;
    }
	.main-menu{
		display: inline-block;
        li{
            text-transform: none;
        }
	}

}